{% extends 'layout.html.twig' %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="box" style="margin-top: 200px;">
        <h1>Modifier mon profil</h1>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}